@import "./../utils/variables";

.header {
  width: 100%;
  gap: 0.5rem;
  padding: 10px;
  color: $header-font-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    font-size: 1.5rem;
  }
}
