@import "./../utils/variables";

.todo-form {
  height: fit-content;
  margin-bottom: 1.5rem;

  &-wrapper {
    width: 100%;
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 15px;
    caret-color: $header-font-color;
    font-size: 1.3rem;

    &::placeholder {
      font-family: $main-font-family;
      font-size: 1.3rem;
    }
  }

  &__submit-btn {
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    color: $header-font-color;

    &:hover {
      cursor: pointer;
      color: darken($header-font-color, 10%);
    }
  }
}
