@import "./fonts";

// Fonts variables
$main-font-family: "Titillium Web", sans-serif;
$header-font-weight: 600;
$body-font-weight: 200;
$header-font-color: rgb(1, 123, 254);

// Background color variables
$background-color: rgb(248, 249, 250);
