* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100dvw;
  height: 100dvh;

  display: grid;
  justify-items: center;
}

.todolist__item-complete-circle:hover,
.todolist__item-completed-icon,
.todolist__item-remove-icon:hover {
  cursor: pointer;
}
