.todo-form {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.todo-form .todo-form__input-label {
  grid-column: 1 / 3;
  padding: 15px;
  font-size: 1.3rem;
}

.todo-form .todo-form__input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.todo-form .todo-form__submit-btn {
  width: fit-content;
  padding: 10px;
  background-color: grey;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
}
